.footer
  width 100%
  height auto
  padding-top 20px
  padding-bottom 35px
  background-color #5d5d5d

  .footer-content
    width 100%
    height auto
    display flex
    flex-direction column-reverse
    justify-content flex-start
    align-items center

    .footer-info
      width 100%
      height auto

      p
        color #a0a0a0
        font-family "DINPro"
        font-size 16px
        font-weight 500
        line-height 20px

    form
      width 100%
      height auto
      display flex
      flex-direction column
      justify-content center
      align-items flex-start
      padding-bottom 28px

      p
        width 100%
        color #a0a0a0
        font-family "DINPro"
        font-size 18px
        font-weight 400
        line-height 28px
        text-align left

      input
        height 42px

      .button
        p
          width 238px
          max-width 296px
          color #000000
          font-family "DINPro"
          font-size 16px
          font-weight 500
          line-height 21px
          text-align center

.hiddensection
  display none
.fancybox-inner

  #thnx
    box-sizing border-box
    padding 50px 0 50px 0
    text-align center

    .thnks
      width 90%
      height auto
      display flex
      justify-content center
      align-items center

      h2
        width 100%
        padding-top 5px
        font-family: "DINPro";
        font-size: 25px;
        font-weight: 700;
        line-height: 23px;
        text-align center
      p
        width 100%
        padding-top 5px
        font-family: "DINPro";
        font-size: 20px;
        font-weight: 700;
        line-height: 23px;
        text-align center



@media(min-width: 768px)
  .footer

    .footer-content
      flex-direction row
      justify-content space-between
      align-items flex-end

      .footer-info
        width 222px
        p
          color #a0a0a0
          font-family "DINPro"
          font-size 16px
          font-weight 500
          line-height 20px
          &:first-child
            margin-bottom 11px


      form
        width 100%
        max-width 342px
        height auto
        display flex
        flex-direction column
        justify-content center
        align-items flex-end
        padding-bottom 0

        p
          width 100%
          color #a0a0a0
          font-family "DINPro"
          font-size 18px
          font-weight 400
          line-height 28px
          text-align left

        input
          height 42px

        .button
          p
            width 238px
            max-width 296px
            color #000000
            font-family "DINPro"
            font-size 16px
            font-weight 500
            line-height 21px
            text-align center

@media(min-width: 1280px)
  .footer

    .footer-content
      flex-direction row
      justify-content space-between
      align-items flex-end

      .footer-info
        width 457px
