.section5
  width 100%
  background-color #f4f6f6

  .sec5-head
    font-family "DINPro"
    font-size 14px
    font-weight 900
    line-height 48px
    text-align center
    color #000000
    span
      color #f21919


  .sec5-slider
    width 100%
    display flex
    justify-content center
    align-items center
    padding 0 10px
    margin-bottom 13px


    .slider-position
      position relative
      min-width: 290px;
      max-width: 500px;
      box-shadow 4px 6px 10px #eaecec
      border-radius 2px
      border 1px solid #dddfe0
      background-color #ffffff

      .control
        width 100%
        height auto
        display flex
        flex-direction row
        padding 5px 5px

        .control-text
          width 50%
          p
            height 22px
            color #000000
            font-family "DINPro"
            font-size 12px
            font-weight 500
            line-height 22px

        .control-arrows
          width 50%
          display flex
          flex-direction row
          justify-content flex-end
          align-items center

          img
            margin 0 5px

      .imgslide
        width 272px
        height auto
        overflow hidden

        img
          width 100%
          height auto
          padding 10px

  .sec5-imgblock
    width auto
    height auto
    display flex
    justify-content center
    align-items center

    .img-position
      min-width 282px
      max-width 570px
      img
        width 100%
        height auto



@media(min-width: 768px)
  .section5

    .sec5-head
      width: auto
      height: 48px;
      font-size: 30px;
      font-weight: 900;
      line-height: 48px;
      margin 33px 0

    .sec5-slider
      width auto
      display flex
      justify-content center
      align-items center
      padding 0 10px

      .slider-position
        position relative
        max-width 577px
        height: 349px;
        box-shadow 4px 6px 10px #eaecec
        border-radius 2px
        border 1px solid #dddfe0
        background-color #ffffff

        .control
          width 100%
          height auto
          display flex
          flex-direction row
          padding 12px 20px


          .control-text
            width 50%
            p
              height 22px
              color #000000
              font-family "DINPro"
              font-size: 18px;
              font-weight: 500;
              line-height: 22px;

          .control-arrows
            width 50%
            display flex
            flex-direction row
            justify-content flex-end
            align-items center

        .imgslide
          width 100%
          height auto
          overflow hidden

          img
            width 580px
            height auto

  .sec5-imgblock
    width auto
    height auto
    display flex
    justify-content center
    align-items center

    .img-position
      min-width 282px
      max-width 570px
      img
        width 100%
        height auto

@media(min-width: 1248px)

  .section5
    display flex
    flex-direction column
    justify-content center
    align-items center

    .sec5-head
      font-size 44px
      font-weight 900
      line-height 48px

    .sec5-content
      width 100%
      max-width 1300px
      display flex
      flex-direction row
      justify-content space-between
      align-items center
      padding 52px 0

      .fitchers
        width auto
        max-width 576px
        margin-bottom 0

        .fitch-block
          width 270px
          height 76px
          margin 6px 9px

          .fich-img
            width 40px
            height 45px
            overflow hidden
            display flex
            justify-content center
            align-items center

            img
              width 35px
              height auto


          .fich-text
            p
              width: 166px;
              height: auto
              font-size: 16px;
              line-height: 18px;
              vertical-align middle

      .sec5-slider
        width auto
        display flex
        justify-content center
        align-items center
        padding 0 0

        .slider-position
          position relative
          width 100%
          height auto
          box-shadow 4px 6px 10px #eaecec
          border-radius 2px
          border 1px solid #dddfe0
          background-color #ffffff

          .control
            width 100%
            height auto
            display flex
            flex-direction row
            padding 12px 20px

            .control-text
              width 50%
              p
                height 22px
                color #000000
                font-family "DINPro"
                font-size: 18px;
                font-weight: 500;
                line-height: 22px;

            .control-arrows
              width 50%
              display flex
              flex-direction row
              justify-content flex-end
              align-items center

          .imgslide
            width 100%
            height auto
            overflow hidden

            img
              width 100%
              height auto

      .sec5-imgblock
        width auto
        height auto
        display flex
        justify-content center
        align-items center

        .img-position
          max-width 560px

          img
            width 100%
            height auto