.section7
  width 100%
  height auto

  .maps
    width 100%
    height auto
    overflow hidden

@media(min-width: 768px)
  .section7
    .maps
      height 381px

@media(min-width: 1280px)
  .section7
    .maps
      height 380px