.section3
  width 100%
  height auto
  background-color #f4f6f6

  .sec3-content
    width 100%
    height auto
    display flex
    flex-flow row wrap
    justify-content center
    align-items center

    .fitchers
      width 100%
      height auto
      display flex
      flex-flow row wrap
      justify-content center
      align-items center
      margin-bottom 21px

      .fitch-block
        width 234px
        height 37px
        box-shadow 1px 2px 6px #eaecec
        border-radius 4px
        border 1px solid #dddfe0
        background-color #ffffff
        display flex
        flex-direction row
        justify-content flex-start
        align-items center
        padding 0 16px
        margin 4px 0

        .fich-img
          width 18px
          height 18px
          margin-right 16px
          overflow hidden

          img
            width 16px
            height 16px

        .fich-text

          p
            width
            height 10px
            color #000000
            font-family "DINPro"
            font-size 12px
            line-height 10px
            font-weight 500
            span
              font-weight 400

    .sec3-slider
      width 100%
      display flex
      justify-content center
      align-items center
      padding 0 10px


      .slider-position
        position relative
        min-width: 282px;
        max-width: 500px;
        box-shadow 4px 6px 10px #eaecec
        border-radius 2px
        border 1px solid #dddfe0
        background-color #ffffff

        .control
          width 100%
          height auto
          display flex
          flex-direction row
          padding 0 5px

          .control-text
            width 50%
            p
              height 22px
              color #000000
              font-family "DINPro"
              font-size 12px
              font-weight 500
              line-height 22px

          .control-arrows
            width 50%
            display flex
            flex-direction row
            justify-content flex-end
            align-items center

            img
              margin 0 5px

        .imgslide
          width 272px
          height auto
          overflow hidden

          img
            width 100%
            height auto
            padding 10px


@media(min-width: 768px)
  .section3

    .sec3-content

      .fitchers

        .fitch-block
          width 282px
          height 76px
          margin 6px 9px

          .fich-img
            width 40px
            height 45px
            overflow hidden
            display flex
            justify-content center
            align-items center

            img
              width 35px
              height auto


          .fich-text
            p
              width: 166px;
              height: auto
              font-size: 16px;
              line-height: 18px;
              vertical-align middle


      .sec3-slider
        width 100%
        display flex
        justify-content center
        align-items center
        padding 0 10px


        .slider-position
          position relative
          max-width 577px
          height: 349px;
          box-shadow 4px 6px 10px #eaecec
          border-radius 2px
          border 1px solid #dddfe0
          background-color #ffffff

          .control
            width 100%
            height auto
            display flex
            flex-direction row
            padding 12px 20px

            .control-text
              width 50%
              p
                height 22px
                color #000000
                font-family "DINPro"
                font-size: 18px;
                font-weight: 500;
                line-height: 22px;

            .control-arrows
              width 50%
              display flex
              flex-direction row
              justify-content flex-end
              align-items center




          .imgslide
            width 100%
            height auto
            overflow hidden

            img
              width 580px
              height auto

@media(min-width: 1248px)
  .section3
    display flex
    justify-content center
    align-items center

    .sec3-content
      width 1300px
      display flex
      flex-direction row
      justify-content space-between
      align-items center
      padding 52px 0
      .fitchers
        width auto
        max-width 576px
        margin-bottom 0

        .fitch-block
          width 270px
          height 76px
          margin 6px 9px

          .fich-img
            width 40px
            height 45px
            overflow hidden
            display flex
            justify-content center
            align-items center

            img
              width 35px
              height auto


          .fich-text
            p
              width: 166px;
              height: auto
              font-size: 16px;
              line-height: 18px;
              vertical-align middle


      .sec3-slider
        width auto
        display flex
        justify-content center
        align-items center
        padding 0 0


        .slider-position
          position relative
          width 100%
          height auto
          box-shadow 4px 6px 10px #eaecec
          border-radius 2px
          border 1px solid #dddfe0
          background-color #ffffff

          .control
            width 100%
            height auto
            display flex
            flex-direction row
            padding 12px 20px

            .control-text
              width 50%
              p
                height 22px
                color #000000
                font-family "DINPro"
                font-size: 18px;
                font-weight: 500;
                line-height: 22px;

            .control-arrows
              width 50%
              display flex
              flex-direction row
              justify-content flex-end
              align-items center

          .imgslide
            width 100%
            height auto
            overflow hidden

            img
              width 100%
              height auto




