header.cnt
    div.logo-img
        img(src="img/logo.svg")
        p.logo-text Производство и оптовая продажа корпусной мебели:
            span кухни, столы, стулья, табуреты
    div.contact
        p Телефон для оптовых покупателей
        div.contact-content
            a(href="tel:88005500173")
                img(src="img/phone-icon.svg")
                p 8 800 550 01 73

