section.section3.cnt
    div.sec3-content
        div.fitchers
            div.fitch-block
                div.fich-img
                    img(src="img/man.png")
                div.fich-text
                    p
                        span Cобственное
                        |  производство
            div.fitch-block
                div.fich-img
                    img(src="img/home.png")
                div.fich-text
                    p Склад
                        span  готовой
                        |  продукции

            div.fitch-block
                div.fich-img
                    img(src="img/star.png")
                div.fich-text
                    p Разрабатываем
                        span  новинки
            div.fitch-block
                div.fich-img
                    img(src="img/note.png")
                div.fich-text
                    p Рекламация
                        span  менее 1%
            div.fitch-block
                div.fich-img
                    img(src="img/book.png")
                div.fich-text
                    p
                        span  Огромный
                        |  ассортимент
            div.fitch-block
                div.fich-img
                    img(src="img/marker.png")
                div.fich-text
                    p
                        span Доставка
                        |  по России и СНГ
            div.fitch-block
                div.fich-img
                    img(src="img/like.png")
                div.fich-text
                    p Гарантия
                        span 3 года
                        | на всю мебель
            div.fitch-block
                div.fich-img
                    img(src="img/calendar.png")
                div.fich-text
                    p Срок изготовления
                        span 10 дней


        div.sec3-slider
            div.slider-position

                section.center.slider

                    div.imgslide
                        div.slidinline
                            div.img-slide
                                img(src="img/production/1.png")

                    div.imgslide
                        div.slidinline
                            div.img-slide
                                img(src="img/production/2.png")

                    div.imgslide
                        div.slidinline
                            div.img-slide
                                img(src="img/production/3.png")

                    div.imgslide
                        div.slidinline
                            div.img-slide
                                img(src="img/production/4.png")


                div.control
                    div.control-text
                        p Наше производство
                    div.control-arrows
                        img.prevArrow3(src="img/arrow-yelloprew.png")
                        img.nextArrow3(src="img/arrow-yellonext.png")


