section.section4.cnt
    div.sec4-content
        div.control-tabs
            div.tabs-position
                a.tab.food.tab-active(href=".food-slider") Кухни
                a.tab.dining-tables(href=".tables-slider") Обеденные столы
                a.tab.chairs(href=".chairs-slider") Стулья
                a.tab.stools(href=".stools-slider") Табуретки

        div.sec4-slider
            div.slider-position

                div.food-slider
                    section.slider

                        div.imgslide
                            div.slidinline
                                div.img-slide
                                    img(src="img/food/1.png")

                        div.imgslide
                            div.slidinline
                                div.img-slide
                                    img(src="img/food/2.png")

                        div.imgslide
                            div.slidinline
                                div.img-slide
                                    img(src="img/food/3.png")

                        div.imgslide
                            div.slidinline
                                div.img-slide
                                    img(src="img/food/4.png")

                        div.imgslide
                            div.slidinline
                                div.img-slide
                                    img(src="img/food/5.png")

                        div.imgslide
                            div.slidinline
                                div.img-slide
                                    img(src="img/food/6.png")


                    div.control
                        div.control-text
                            p Наша продукция
                        div.control-arrows
                            img.prevArrow4(src="img/arrow-yelloprew.png")
                            img.nextArrow4(src="img/arrow-yellonext.png")


                div.tables-slider.slider-none
                    section.slider

                        div.imgslide
                            div.slidinline
                                div.img-slide
                                    img(src="img/table/1.png")

                        div.imgslide
                            div.slidinline
                                div.img-slide
                                    img(src="img/table/2.png")

                        div.imgslide
                            div.slidinline
                                div.img-slide
                                    img(src="img/table/3.png")

                        div.imgslide
                            div.slidinline
                                div.img-slide
                                    img(src="img/table/4.png")

                        div.imgslide
                            div.slidinline
                                div.img-slide
                                    img(src="img/table/5.png")

                        div.imgslide
                            div.slidinline
                                div.img-slide
                                    img(src="img/table/6.png")

                        div.imgslide
                            div.slidinline
                                div.img-slide
                                    img(src="img/table/7.png")

                        div.imgslide
                            div.slidinline
                                div.img-slide
                                    img(src="img/table/8.png")

                        div.imgslide
                            div.slidinline
                                div.img-slide
                                    img(src="img/table/9.png")

                        div.imgslide
                            div.slidinline
                                div.img-slide
                                    img(src="img/table/10.png")

                        div.imgslide
                            div.slidinline
                                div.img-slide
                                    img(src="img/table/11.png")

                    div.control
                        div.control-text
                            p Наша продукция
                        div.control-arrows
                            img.prevArrow6(src="img/arrow-yelloprew.png")
                            img.nextArrow6(src="img/arrow-yellonext.png")


                div.chairs-slider.slider-none
                    section.slider
                        div.imgslide
                            div.slidinline
                                div.img-slide
                                    img(src="img/chairs/1.png")

                        div.imgslide
                            div.slidinline
                                div.img-slide
                                    img(src="img/chairs/2.png")

                        div.imgslide
                            div.slidinline
                                div.img-slide
                                    img(src="img/chairs/6.png")



                    div.control
                        div.control-text
                            p Наша продукция
                        div.control-arrows
                            img.prevArrow7(src="img/arrow-yelloprew.png")
                            img.nextArrow7(src="img/arrow-yellonext.png")



                div.stools-slider.slider-none
                    section.slider

                        div.imgslide
                            div.slidinline
                                div.img-slide
                                    img(src="img/chairs/3.png")

                        div.imgslide
                            div.slidinline
                                div.img-slide
                                    img(src="img/chairs/4.png")

                        div.imgslide
                            div.slidinline
                                div.img-slide
                                    img(src="img/chairs/5.png")

                        div.imgslide
                            div.slidinline
                                div.img-slide
                                    img(src="img/chairs/6.png")





                    div.control
                        div.control-text
                            p Наша продукция
                        div.control-arrows
                            img.prevArrow8(src="img/arrow-yelloprew.png")
                            img.nextArrow8(src="img/arrow-yellonext.png")




