section.section5.cnt
    div.sec5-head
        h2 Бережно доставим
            span  ВАШ ЗАКАЗ!

    div.sec5-content

        div.sec5-slider
            div.slider-position

                section.center.slider

                    div.imgslide
                        div.slidinline
                            div.img-slide
                                img(src="img/packaging/1.png")

                    div.imgslide
                        div.slidinline
                            div.img-slide
                                img(src="img/packaging/2.png")

                    div.imgslide
                        div.slidinline
                            div.img-slide
                                img(src="img/packaging/3.png")

                    div.imgslide
                        div.slidinline
                            div.img-slide
                                img(src="img/packaging/4.png")

                div.control
                    div.control-text
                        p Надежная упаковка
                    div.control-arrows
                        img.prevArrow5(src="img/arrow-yelloprew.png")
                        img.nextArrow5(src="img/arrow-yellonext.png")


        div.sec5-imgblock
            div.img-position
                img(src="img/packaging/5.png")

