section.section6.cnt
    div.sec6-content
        div.sec6-head
            p У FORT уже более 100 дилеров.
            h2 Станьте нашим дилером
                span  ПРЯМО СЕЙЧАС!

        div.advantages
            div.advan-parnersposit
                div.advantage-blocks
                    div.advant-block
                        div.advant-img
                            img(src="img/nomer1.png")
                        p Минимальная цена на рынке

                    div.advant-block
                        div.advant-img
                            img(src="img/nomer2.png")
                        p Удобные для вас сроки изготовления
                    div.advant-block
                        div.advant-img
                            img(src="img/nomer3.png")
                        p Доставим нашими партнёрами
                div.partners
                    div.partners-content
                        img(src="img/del-lines.png")
                        img(src="img/pek-logo-gray.png")
                        img(src="img/ratek-logo.png")

            form(action="mailer.php" method="post")
                input.inp(placeholder="Ваше имя" name="name" required)
                input.inp(placeholder="Контактный телефон" name="phone" required)
                button.button(type="submit")
                    p Заказать консультацию
                    img(src="img/arrow.svg")


