section.section2
    div.grafic-position.cnt
        div.info-block
            img(src="img/maps-icon.png")
            p Адрес производства: г. Ульяновск, 14-й инженерный проезд, 7а
        div.info-block
            img(src="img/watch-icon.png")
            p Время работы:
                <br> 07:00 - 16:00 (по Мск)
        div.info-block
            img(src="img/mail-icon.png")
            p Email:
                <br>
                    a(href="salemeb@fort-mebel.ru") salemeb@fort-mebel.ru



